<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Girişi</title>
</head>
<body>
    <h1>Kullanıcı Girişi</h1>
    <form>
        <div class="error" style="background-color: red;"></div>
        <br />
        <label for="username">Kullanıcı Adı</label><br />
        <input type="text" id="username" required /><br />
        <label for="password">Şifre</label><br />
        <input type="password" id="password" required /><br />
        <input type="submit" value="Giriş" /><br />
    </form>
    <a href="/register">Bir hesabınız yok mu? Kayıt olun.</a>
    <script type="text/javascript" src="/login.js"></script>
</body>
</html>