<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
</head>
<body>
    <h1>Kayıt Ol</h1>
    <form>
        <div class="error" style="background-color: red;"></div>
        <br />
        <label for="username">Kullanıcı Adı</label><br />
        <input type="text" id="username" required /><br />
        <label for="password">Şifre</label><br />
        <input type="password" id="password" required /><br />
        <input type="submit" value="Kaıt Ol" /><br />
    </form>
    <a href="/login">Zaten bir hesabınız var mı? Kullanıcı girişi yapın.</a>
    <script src="../script/register.js"></script>
</body>
</html>